/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 7 versions
*/

/*
Colors used

background-color: #f6f6f4;
text-color: #000;
Primary Color: #0048ba;
highlights: #4b0082;
button color:  #a9a9a9;

 */

 body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    background-color: #f6f6f4;
    color: #000;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

#logo {
    max-height: 70px;
    max-width: 200px;
    border: 3px solid #000;
    display: inline;
    float: left;
    -webkit-box-shadow: 2px 2px 2px #a9a9a9;
            box-shadow: 2px 2px 2px #a9a9a9;
}

.navigation-list {
    display: inline;
    float: right;
    margin-right: 40px;
    list-style-type: none;

}

.navigation-list__item--active {
    text-decoration: none;
}

div.container
{
    font-family: 'Nunito', sans-serif;
    margin: 0 auto;
	padding: 0 3em;
	text-align: center;
}

div.container a
{
    color:#000;
    text-decoration: none;
    font: 20px 'Nunito', sans-serif;
    margin: 0px 10px;
    padding: 0 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

div.borderYtoX a:before
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #000;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

div.borderYtoX a:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #000;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

div.borderYtoX a:before
{
    left: 0px;
    top: 0px;
}

div.borderYtoX a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderYtoX a:hover:before, div.borderYtoX a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}

.profile_portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    height: auto;
    border-radius: 50px;
    border: 1px solid #000;
    -webkit-box-shadow: 2px 2px 2px #a9a9a9;
            box-shadow: 2px 2px 2px #a9a9a9;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
  }

h1 {
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    text-shadow: 1px 1px 1px #a9a9a9;

}

h2 {
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  display: inline;
  float: left;
  text-shadow: 1px 1px 1px #a9a9a9;
}

.center {
  text-align: center;
}

.contactme {
  text-align: center;
}

#contact-form {
  text-align: center;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
  }

  .page-header .page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
  }

  .navigation-list li {
    display: inline-block;
    margin-left: 15px;
  }

.page_footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:  vertical;
    -webkit-box-direction:  normal;
        -ms-flex-direction:  column;
            flex-direction:  column;
    text-align: center;
}

a {
    color: #000;
  }

  a:visited {
      /* visited link*/
      color: #0048ba;
  }
  
  a:hover {
    /* No underlining when hovering over a link */
    text-decoration: none;
    color: #2b2b2b;
  }
  
  a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
    color: #2b2b2b;
  }

  a:active {
      /* selected link */
      color:#000;
  }

  button {
      border: none;
      display: inline-block;
      font-family: 'Nunito', sans-serif;
      background-color: #a9a9a9;
      color: #000;
      text-decoration: none;
      padding: 10px;
      border-radius: 5%;
      border-bottom: 3px solid rgba(0, 0, 0, 0.3);
      -webkit-transition: 0.5s opacity;
      -o-transition: 0.5s opacity;
      transition: 0.5s opacity;
      -webkit-box-shadow: 1px 1px 1px #000;
              box-shadow: 1px 1px 1px #000;
  }

  .button {
      border: none;
      display: inline-block;
      font-family: 'Nunito', sans-serif;
      background-color: #a9a9a9;
      color: #000;
      text-decoration: none;
      padding: 10px;
      border-radius: 5%;
      border-bottom: 3px solid rgba(0, 0, 0, 0.3);
      -webkit-transition: 0.5s opacity;
      -o-transition: 0.5s opacity;
      transition: 0.5s opacity;
      -webkit-box-shadow: 1px 1px 1px #000;
              box-shadow: 1px 1px 1px #000;
  }

  button:hover, button:focus,
  .button:hover, .button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
  }

.aboutmediv {
    text-align: center;
    max-width: 100%;
}

  .aboutme {
    width: 100%;
    margin: 0 auto;
    text-align: justify;
    padding: 0 20%;
}

#about-picture {
  max-width: 50%;
}

.divider {
    border: 1px solid #000;
    -webkit-box-shadow: 2px 2px 2px #a9a9a9;
            box-shadow: 2px 2px 2px #a9a9a9;
    margin: 10px 10px;
}

.error-message {
  color: red;
}

/* start grid fallback */
.grid_item {
    display: inline-block;
    width: 33%;
   }
   /* end grid fallback */
   
   @supports (display: grid) {
    .grid {
      display: -ms-grid;
      display: grid;
      /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
      -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      margin: 0;
   
    }
    .grid_item {
      background-color: lightgray;
      width: auto;
      min-height: auto;
      margin: 0;
    }
    .grid_item:last-child {
      -ms-grid-column: 3;
      grid-column: 3 / 3;
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      grid-row: 1 / 3;
    }
   }

.sociallogos {
  height: 30px;
  width: 30px;
}

   .sun {
    -webkit-animation: 6s color-change infinite alternate linear;
            animation: 6s color-change infinite alternate linear;
  }

  .cloud-front {
      -webkit-animation: 30s cloud-move infinite alternate linear;
              animation: 30s cloud-move infinite alternate linear;
  }

  .cloud-back {
      -webkit-animation: 40s cloud-move-reverse infinite alternate linear;
              animation: 40s cloud-move-reverse infinite alternate linear;
  }

  @-webkit-keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
  }

  @keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
  }

  @-webkit-keyframes cloud-move {
      from {
          -webkit-transform: translate(0, 50px);
                  transform: translate(0, 50px);
      }
      to {
          -webkit-transform: translate(200px, 50px);
                  transform: translate(200px, 50px);
      }
  }

  @keyframes cloud-move {
      from {
          -webkit-transform: translate(0, 50px);
                  transform: translate(0, 50px);
      }
      to {
          -webkit-transform: translate(200px, 50px);
                  transform: translate(200px, 50px);
      }
  }

  @-webkit-keyframes cloud-move-reverse {
      from {
          -webkit-transform: translate(446px, 48px);
                  transform: translate(446px, 48px);
      }
      to {
          -webkit-transform: translate(100px, 48px);
                  transform: translate(100px, 48px);
      }
  }

  @keyframes cloud-move-reverse {
      from {
          -webkit-transform: translate(446px, 48px);
                  transform: translate(446px, 48px);
      }
      to {
          -webkit-transform: translate(100px, 48px);
                  transform: translate(100px, 48px);
      }
  }

   @media all and (max-width: 500px) {
    .grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }
  @media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr;
    }

  }
  @media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
    .grid_item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
}

